<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>

<div class="btn-toolbar" role="toolbar" aria-label="...">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="glyphicon glyphicon-cloud-upload"></span>   Upload
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#"><span class="glyphicon glyphicon-file"></span>  File</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-folder-open"></span>  Folder</a></li>
    </ul>
  </div>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
  </div>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">Left</button>
    <button type="button" class="btn btn-default">Middle</button>
    <button type="button" class="btn btn-default">Right</button>
  </div>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Filename</th>
      <th>Size</th>
      <th>Date Created</th>
      <th>Download</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let file of files">
      <td>{{file._id}}</td>
      <td>{{file.filename}}</td>
      <td>{{file.length}}</td>
      <td>{{file.uploadDate}}</td>
      <td>
        <a class="btn btn-default" href="{{file.link}}" target="_blank">
          <span class="glyphicon glyphicon-cloud-download"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>